Repository samuelgocnik/price-buddy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --fix

fix(middleware auth): update comment
  src/auth.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: delete unnecessary pages
  src/app/(app)/(unauthorized)/login/page.tsx
  src/app/(app)/(unauthorized)/register/page.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat(pages): init profile page
  src/app/(app)/profile/page.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix(pages): remove react import
  src/app/(app)/(unauthorized)/layout.tsx
  src/app/(app)/(unauthorized)/signin/page.tsx
  src/app/(app)/dashboard/page.tsx
  src/app/(app)/group/page.tsx
  src/app/not-found.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add next-auth package
  bun.lockb
  package.json
Due: none

feat(providers): add session provider
  src/app/providers.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix(erd): update ids
  diagrams/erd/erd.plantuml
  diagrams/erd/erd.png
Due: none

fix(schema): make color not nullable
  src/db/schema/categories.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: layouts
  src/app/(app)/(unauthorized)/layout.tsx
  src/app/(app)/(unauthorized)/signin/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/auth.ts
  src/components/auth/signin-button.tsx
  src/components/auth/signout-button.tsx
  src/components/header.tsx
  src/components/ui/button.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: header, colors etc
  src/app/(app)/(unauthorized)/signin/page.tsx
  src/app/(app)/dashboard/page.tsx
  src/app/page.tsx
  src/components/header.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add tokens
  .env
Due: none

feat: export schema types
  src/db/schema/categories.ts
  src/db/schema/expenses.ts
  src/db/schema/groups.ts
  src/db/schema/userBalances.ts
  src/db/schema/userGroups.ts
  src/db/schema/users.ts
  src/db/schema/usersExpenses.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat(ui): loader
  src/components/ui/loader.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: init queries files
  src/queries/.gitkeep
  src/queries/expenses.ts
  src/queries/groups.ts
  src/queries/members.ts
  src/queries/profile.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: loader classes
  src/app/globals.css
Due: prettier --write

feat: temp loaders in header
  src/components/header.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

docs(readme): add auth section
  README.md
Due: none

feat: db new token
  .env
Due: none

feat(ui): dropdown menu component
  bun.lockb
  package.json
  src/components/ui/dropdown-menu.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: removed redundant use server
  src/server-actions/auth.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix(readme): queries description
  README.md
Due: none

feat(nav): define nav links
  src/lib/navigationConstants.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat(queries): add signin and signout queries
  src/queries/auth.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: converted to client
  src/components/auth/signin-button.tsx
  src/components/auth/signout-button.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: loading page init
  src/app/loading.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

modals WIP
  .env
  bun.lockb
  src/app/(app)/dashboard/page.tsx
  src/components/ui/expense/addExpense.tsx
  src/components/ui/expense/selectExpense.tsx
  src/server-actions/categories.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat(ui): sheet component
  src/components/ui/sheet.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

style: change bg color
  src/components/ui/separator.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: add header and its components
  src/app/layout.tsx
  src/components/header.tsx
  src/components/header/hamburger-menu.tsx
  src/components/header/header.tsx
  src/components/header/navigation.tsx
  src/components/header/profile-dropdown.tsx
  src/store/.gitkeep
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: groups basic layout with mocked data
  src/app/(app)/group/[id]/page.tsx
  src/app/(app)/group/action.tsx
  src/app/(app)/group/mocked-data.tsx
  src/app/(app)/group/page.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

style: slightly changed color
  tailwind.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: remove redundant import
  src/app/(app)/group/[id]/page.tsx
  src/app/(app)/layout.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/components/ui/loader.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: header styling etc
  src/components/header/header.tsx
  src/components/header/navigation.tsx
  src/components/header/profile-dropdown.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: layout
  src/app/(app)/layout.tsx
  src/app/(unauthorized)/layout.tsx
  src/app/(unauthorized)/signin/page.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: header
  src/components/header/current-page.tsx
  src/components/header/header.tsx
  src/components/header/navigation.tsx
  src/lib/navigationConstants.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix: remove space
  src/app/(unauthorized)/layout.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

hot fix
  .env
  src/db/schema/expenses.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

feat: getting groups from db
  src/app/(app)/group/[id]/page.tsx
  src/app/(app)/group/action.tsx
  src/app/(app)/group/group-link.tsx
  src/app/(app)/group/page.tsx
Due: prettier --write, eslint --ignore-path .gitignore --fix

database url
  .env
Due: none

feat: groups progres
  src/app/(app)/group/[id]/expense-list.tsx
  src/app/(app)/group/[id]/group-detail.tsx
  src/app/(app)/group/[id]/group-info.tsx
  src/app/(app)/group/[id]/page.tsx
  src/app/(app)/group/action.tsx
  src/app/(app)/group/page.tsx
  src/db/schema/expenses.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.{tsx,ts,jsx,js})
  eslint --ignore-path .gitignore --fix: any of: *.{tsx,ts,jsx,js}
